import store from '../state/store'

class {
  onMount() {
    store.subscribe(() => {
      this.forceUpdate()
    })
  }
}

style.less {
  .main {
    background-color: rgb(123, 158, 209);
    &:hover{
      box-shadow: 10px 10px 5px #888888;
    }
  }
}
div.main
  p -- Hello World
  tab-container content="Test 1234"
  router-link path="/about" -- to about

card title='Hello card shit' content='loerm cat supem' button='demo button'
