import store from '../state/store';
class {
  onCreate() {
    this.state = {
      open: false
    };
  }
  open() {
    this.state.open = !this.state.open;
    console.log(store.getState());
  }
}
style.less {
  .tab-container {
    background-color: @primaryColor;
    &:hover {
      background-color: darken(@primaryColor, 10%)
    }
  }
}

div.tab-container
  button on-click('open')
    -- open/close
  div if(state.open)
    -- ${input.content}
